body
{
    background-color:#E6E6FA;
}
#choose
{
    font-family:Impact, Charcoal, sans-serif;
    font-size:50px;
    background-color:#9932CC;
    border:2px solid #000;
}
.actiontable
{
    float:left;
    background-color:#9370DB;
    border:2px solid #000;
    height:800px;
    overflow:scroll;
    height:340px;
    margin-right:10px;
}
#disclaimer
{
    float:left;
    border:2px solid #000;
    font-size:16px;
}
#click
{
    
}
#argument
{
    margin-left:10px;
    border:2px solid #000;
    font-size:16px;
    background-color:#DDA0DD;
}
#call
{
    font-family:Impact, Charcoal, sans-serif;
    font-size:24px;
    border:2px solid #000;
    background-color:#DDA0DD;
}
#main
{
    float:left;
    font-size:40px;
    font-family:Impact, Charcoal, sans-serif;
    background-color:#9932CC;
     border:2px solid #000;
    
}
.fa-close
{
    color:red;
}
.fa-check
{
    color:lawngreen;
}
.fa-money
{
    color:green;
}
.fa-female
{
    color:#B22222;
}
.fa-heartbeat
{
    color:yellow;
}
.fa-meh-o
{
    color:orange;
}