body
{
    background-color:#FFFFE0;
}
#effect
{
    font-family:Impact, Charcoal, sans-serif;
    background-color:#FFFF00;
    font-size:45px;
    border:2px solid #000;
}
#p1
{
    font-family:"Lucida Console", Courier, monospace;
    font-weight:600;
    background-color:#FFFACD;
    border:2px solid #000;
}
#p2
{
    font-family:"Lucida Console", Courier, monospace;
 background-color:#FFFACD;
    border:2px solid #000;
}