#tooltip.hidden
{
    display:none;
}

#tooltip
{
    position:absolute;
    width:300px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}

path
{
    stroke:gray;
    fill:none;
    stroke-width:3;
}

.selected path
{
    stroke:gold;
    stroke-width:6;
}

.graphone
{
    float: right;
    top:220px;
    position:absolute;
    left:575px;
    height:250px;
    border:2px solid #000;
    background-color:deepskyblue;
}

.graphtwo
{
    float:right;
    top:475px;
    position:absolute;
    left:575px;
    height:250px;
     border:2px solid #000;
    background-color:aqua;
    
   
}

.atable
{
    float:left;
    background-color:cornflowerblue;
    border:2px solid #000;
    height:500px;
    overflow:scroll;
}

#scrolltable
{
   
}

#welcome
{
    font-family:Impact, Charcoal, sans-serif;
    background-color:darkturquoise;
    font-size:40px;
    border:2px solid #000;
}

#hover
{
    font-size:20px;
    
}

body
{
    background-color:#E0FFFF;
}
.fa-close
{
    color:red;
}
.fa-check
{
    color:lawngreen;
}
.fa-money
{
    color:green;
}
.fa-female
{
    color:#B22222;
}
.fa-heartbeat
{
    color:yellow;
}
.fa-meh-o
{
    color:orange;
}
