#tooltip.hidden
{
    display:none;
}

#tooltip
{
    position:absolute;
    width:300px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}

path
{
    stroke:gray;
    fill:none;
    stroke-width:3;
}

.selected path
{
    stroke:gold;
    stroke-width:6;
}

.graphone
{
    float: right;
    top:300px;
    position:absolute;
    left:575px;
    height:350px;
     border:2px solid #000;
    background-color:deepskyblue;
}

.graphtwo
{
    float:right;
    top:700px;
    position:absolute;
    left:575px;
    height:350px;
     border:2px solid #000;
    background-color:aqua;
   
}

.atable
{
    float:left;
    background-color:cornflowerblue;
    border:2px solid #000;
    height:800px;
    overflow:scroll;
}

#scrolltable
{
    font-family:"Comic Sans MS", cursive, sans-serif;
   
}

#welcome
{
    font-family:Impact, Charcoal, sans-serif;
    background-color:darkturquoise;
    font-size:45px;
    border:2px solid #000;
}

#hover
{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:20px;
    
}

body
{
    background-color:#E0FFFF;
}
